:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a16;
  --light: #f2f2dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: lightgoldenrodyellow;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

h1 {
  padding: 20px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: var(--light);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 7px 7px 7px rgba(50, 50, 50, 0.75);
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: .75rem 1.5rem;
  background-color: var(--dark);
  word-wrap: break-word;
  word-break: break-all;
}

.prev {
  font-size: 1rem;
  color: grey;
  padding-bottom: 15px;
}

.current {
  font-size: 2rem;
  font-weight: 300;
  color: var(--light);
}

button {
  appearance: none;
  outline: none;
  border: none;
  color: var(--light);
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.operators {
  background-color: var(--primary);
  font-weight: 700;
}

.grey {
  background-color: rgb(172, 167, 167);
  color: var(--dark);
  font-weight: 700;
}

.digits {
  background-color: var(--dark);
}
